[include]
    path = ~/.gitconfig_user.inc

[commit]
    gpgSign = true

[core]
    editor = nvim
    pager = delta

[delta]
    features = line-numbers decorations
    syntax-theme = TwoDark

[delta "decorations"]
    commit-decoration-style = bold yellow ul
    file-style = bold yellow

[diff]
    tool = nvim -d

[init]
    templateDir = ~/.config/git/templates

[merge]
    tool = vimdiff
    prompt = false

[mergetool]
    prompt = yes

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[pull]
    rebase = true
    ff = only

[color]
    ui = true

[color "diff"]
    meta = yellow

[alias]
    a = add
    amend = commit --amend --no-edit
    au = add --update
    br = branch
    c = commit
    cs = commit -S
    ch = checkout
    d = diff
    dc = diff --cached
    gr = log --graph --oneline --all  # mnemonic: graph
    i = init
    l = log
    ls = ls-tree -r master
    m = merge
    pl = pull
    ps = push
    s = status --short
    t = tree
    wc = whatchanged
    wip = commit --all --message 'WIP'
