[include]
    path = ~/.gitconfig_user.inc

[commit]
    gpgSign = true

[core]
    editor = nvim
    pager = delta

[delta]
    features = line-numbers decorations
    syntax-theme = TwoDark

[delta "decorations"]
    commit-decoration-style = bold yellow ul
    file-style = bold yellow

[diff]
    tool = vimdiff

[init]
    templateDir = ~/.config/git/templates

[merge]
    conflictStyle = diff3
    tool = vim_mergetool
    prompt = false
    autostash = true

[mergetool]
    prompt = yes

[mergetool "vimdiff"]
    cmd = nvim -d "$BASE" "$LOCAL"
    trustExitCode = true

[mergetool "vim_mergetool"]
    cmd = nvim -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true

[pull]
    rebase = true
    ff = only

[rebase]
    autostash = true

[color]
    ui = true

[color "diff"]
    meta = yellow

[alias]
    a = add
    amend = commit --amend --no-edit
    ap = add --patch
    au = add --update
    br = branch
    c = commit
    cs = commit -S
    ch = checkout
    d = diff
    dc = diff --cached
    gr = log --graph --oneline --all  # mnemonic: graph
    i = init
    l = log
    ls = ls-tree -r master
    m = merge
    pl = pull
    ps = push
    ra = rebase --abort
    rc = rebase --continue
    ri = rebase --interactive
    s = status --short
    st = stash
    stp = stash pop
    t = tree
    wc = whatchanged
    wip = commit --all --message 'WIP'
