[submodule "tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "jblock"]
	path = qutebrowser/.config/qutebrowser/jblock
	url = https://gitlab.com/jgkamat/jblock
[submodule "zsh-completions"]
	path = zsh/.zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-history-substring-search"]
	path = zsh/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "fast-syntax-highlighting"]
	path = zsh/.zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "forgit"]
	path = zsh/.zsh/plugins/forgit
	url = https://github.com/wfxr/forgit
[submodule "vim-ledger"]
	path = nvim/.config/nvim/pack/minpac/opt/vim-ledger
	url = https://github.com/ledger/vim-ledger
[submodule "vimtex"]
	path = nvim/.config/nvim/pack/minpac/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim-grammarous"]
	path = nvim/.config/nvim/pack/minpac/opt/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
[submodule "vim-verdict"]
	path = nvim/.config/nvim/pack/minpac/opt/vim-verdict
	url = https://gitlab.com/mrossinek/vim-verdict
[submodule "vim-unimpaired"]
	path = nvim/.config/nvim/pack/minpac/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-commentary"]
	path = nvim/.config/nvim/pack/minpac/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-repeat"]
	path = nvim/.config/nvim/pack/minpac/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-abolish"]
	path = nvim/.config/nvim/pack/minpac/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "replay"]
	path = nvim/.config/nvim/pack/minpac/start/replay
	url = https://github.com/wincent/replay
[submodule "loupe"]
	path = nvim/.config/nvim/pack/minpac/start/loupe
	url = https://github.com/wincent/loupe
[submodule "vcs-jump"]
	path = nvim/.config/nvim/pack/minpac/start/vcs-jump
	url = https://github.com/wincent/vcs-jump
[submodule "vim-exchange"]
	path = nvim/.config/nvim/pack/minpac/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "ReplaceWithRegister"]
	path = nvim/.config/nvim/pack/minpac/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
[submodule "vim-trailing-whitespace"]
	path = nvim/.config/nvim/pack/minpac/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "vim-indent-object"]
	path = nvim/.config/nvim/pack/minpac/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "undotree"]
	path = nvim/.config/nvim/pack/minpac/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "goyo.vim"]
	path = nvim/.config/nvim/pack/minpac/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "NrrwRgn"]
	path = nvim/.config/nvim/pack/minpac/start/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "linediff.vim"]
	path = nvim/.config/nvim/pack/minpac/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "asyncrun.vim"]
	path = nvim/.config/nvim/pack/minpac/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "supertab"]
	path = nvim/.config/nvim/pack/minpac/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim-cmake"]
	path = nvim/.config/nvim/pack/minpac/start/vim-cmake
	url = https://github.com/vhdirk/vim-cmake
[submodule "vim-gitgutter"]
	path = nvim/.config/nvim/pack/minpac/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-tmux-focus-events"]
	path = nvim/.config/nvim/pack/minpac/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule "vim-tmux-navigator"]
	path = nvim/.config/nvim/pack/minpac/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim-tmux-controller"]
	path = nvim/.config/nvim/pack/minpac/start/vim-tmux-controller
	url = https://gitlab.com/mrossinek/vim-tmux-controller
[submodule "displayp.vim"]
	path = nvim/.config/nvim/pack/minpac/start/displayp.vim
	url = https://gitlab.com/mrossinek/displayp.vim
[submodule "tmux-complete.vim"]
	path = nvim/.config/nvim/pack/minpac/start/tmux-complete.vim
	url = https://github.com/wellle/tmux-complete.vim
[submodule "vim-plugin-AnsiEsc"]
	path = nvim/.config/nvim/pack/minpac/start/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc
[submodule "vim-doge"]
	path = nvim/.config/nvim/pack/minpac/start/vim-doge
	url = https://github.com/kkoomen/vim-doge
[submodule "quicktex"]
	path = nvim/.config/nvim/pack/minpac/opt/quicktex
	url = https://github.com/brennier/quicktex
[submodule "vim-sneak"]
	path = nvim/.config/nvim/pack/minpac/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim-dirvish"]
	path = nvim/.config/nvim/pack/minpac/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "BufOnly.vim"]
	path = nvim/.config/nvim/pack/minpac/start/BufOnly.vim
	url = https://github.com/vim-scripts/BufOnly.vim
[submodule "tabular"]
	path = nvim/.config/nvim/pack/minpac/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim-sandwich"]
	path = nvim/.config/nvim/pack/minpac/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "deuterium"]
	path = nvim/.config/nvim/pack/minpac/opt/deuterium
	url = https://gitlab.com/mrossinek/deuterium.git
[submodule "vim-pandoc"]
	path = nvim/.config/nvim/pack/minpac/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "vim-pandoc-syntax"]
	path = nvim/.config/nvim/pack/minpac/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim-markdown"]
	path = nvim/.config/nvim/pack/minpac/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim-dirgutter"]
	path = nvim/.config/nvim/pack/minpac/start/vim-dirgutter
	url = https://gitlab.com/mrossinek/vim-dirgutter
[submodule "vim-criticmarkup"]
	path = nvim/.config/nvim/pack/minpac/opt/vim-criticmarkup
	url = https://github.com/vim-pandoc/vim-criticmarkup
[submodule "jupytext.vim"]
	path = nvim/.config/nvim/pack/minpac/opt/jupytext.vim
	url = https://github.com/goerz/jupytext.vim
[submodule "quick-scope"]
	path = nvim/.config/nvim/pack/minpac/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "nvim-colorizer.lua"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "targets.vim"]
	path = nvim/.config/nvim/pack/minpac/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "quickfix-reflector.vim"]
	path = nvim/.config/nvim/pack/minpac/start/quickfix-reflector.vim
	url = https://github.com/stefandtw/quickfix-reflector.vim
[submodule "nvim-lspconfig"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "completion-nvim"]
	path = nvim/.config/nvim/pack/minpac/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "diagnostic-nvim"]
	path = nvim/.config/nvim/pack/minpac/start/diagnostic-nvim
	url = https://github.com/nvim-lua/diagnostic-nvim
[submodule "lsp-status.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
[submodule "plenary.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/plenary.vim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "popup.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "telescope.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/telescope.nvim
	url = https://github.com/nvim-lua/telescope.nvim
[submodule "nvim-treesitter"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "snippets.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/snippets.nvim
	url = https://github.com/norcalli/snippets.nvim
[submodule "nvim-web-devicons"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "gina.vim"]
	path = nvim/.config/nvim/pack/minpac/start/gina.vim
	url = https://github.com/lambdalisue/gina.vim
[submodule "git-messenger.vim"]
	path = nvim/.config/nvim/pack/minpac/start/git-messenger.vim
	url = https://github.com/rhysd/git-messenger.vim
[submodule "committia.vim"]
	path = nvim/.config/nvim/pack/minpac/start/committia.vim
	url = https://github.com/rhysd/committia.vim
[submodule "vista.vim"]
	path = nvim/.config/nvim/pack/minpac/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim
[submodule "barbar.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim
[submodule "neoformat"]
	path = nvim/.config/nvim/pack/minpac/start/neoformat
	url = https://github.com/sbdchd/neoformat
