[user]
	name = mrossinek
	email = rmax@ethz.ch

[core]
	editor = nvim

[diff]
	tool = nvim -d

[merge]
        tool = nvim -d
        conflictstyle = diff3
        prompt = false

[alias]
        a = add
        br = branch
        c = commit
        ch = checkout
        d = diff
        i = init
        l = log
        m = merge
        pl = pull
        ps = push
        s = status
        t = tree
	tree = log --graph --oneline --all
