[submodule "zsh-completions"]
	path = zsh/.zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-history-substring-search"]
	path = zsh/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "fast-syntax-highlighting"]
	path = zsh/.zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "vim-ledger"]
	path = nvim/.config/nvim/pack/minpac/opt/vim-ledger
	url = https://github.com/ledger/vim-ledger
[submodule "vimtex"]
	path = nvim/.config/nvim/pack/minpac/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim-verdict"]
	path = nvim/.config/nvim/pack/minpac/opt/vim-verdict
	url = https://gitlab.com/mrossinek/vim-verdict
[submodule "vim-unimpaired"]
	path = nvim/.config/nvim/pack/minpac/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-repeat"]
	path = nvim/.config/nvim/pack/minpac/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-abolish"]
	path = nvim/.config/nvim/pack/minpac/start/vim-abolish
	url = https://github.com/mrossinek/vim-abolish
	branch = path-coercion
[submodule "replay"]
	path = nvim/.config/nvim/pack/minpac/start/replay
	url = https://github.com/wincent/replay
[submodule "loupe"]
	path = nvim/.config/nvim/pack/minpac/start/loupe
	url = https://github.com/wincent/loupe
[submodule "vim-trailing-whitespace"]
	path = nvim/.config/nvim/pack/minpac/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "vim-indent-object"]
	path = nvim/.config/nvim/pack/minpac/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "undotree"]
	path = nvim/.config/nvim/pack/minpac/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "linediff.vim"]
	path = nvim/.config/nvim/pack/minpac/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "quicktex"]
	path = nvim/.config/nvim/pack/minpac/opt/quicktex
	url = https://github.com/brennier/quicktex
[submodule "vim-sneak"]
	path = nvim/.config/nvim/pack/minpac/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "tabular"]
	path = nvim/.config/nvim/pack/minpac/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim-sandwich"]
	path = nvim/.config/nvim/pack/minpac/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "quick-scope"]
	path = nvim/.config/nvim/pack/minpac/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "nvim-colorizer.lua"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "targets.vim"]
	path = nvim/.config/nvim/pack/minpac/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "quickfix-reflector.vim"]
	path = nvim/.config/nvim/pack/minpac/start/quickfix-reflector.vim
	url = https://github.com/stefandtw/quickfix-reflector.vim
[submodule "nvim-lspconfig"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "lsp-status.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
[submodule "plenary.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "popup.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "telescope.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim-treesitter"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim-web-devicons"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "committia.vim"]
	path = nvim/.config/nvim/pack/minpac/start/committia.vim
	url = https://github.com/rhysd/committia.vim
[submodule "nvim-dap"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim-dap-virtual-text"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "telescope-bibtex"]
	path = nvim/.config/nvim/pack/minpac/start/telescope-bibtex
	url = https://github.com/nvim-telescope/telescope-bibtex.nvim
[submodule "telescope-dap"]
	path = nvim/.config/nvim/pack/minpac/start/telescope-dap
	url = https://github.com/nvim-telescope/telescope-dap.nvim
[submodule "telescope-symbols"]
	path = nvim/.config/nvim/pack/minpac/start/telescope-symbols
	url = https://github.com/nvim-telescope/telescope-symbols.nvim
[submodule "coveragepy.vim"]
	path = nvim/.config/nvim/pack/minpac/opt/coveragepy.vim
	url = https://github.com/alfredodeza/coveragepy.vim
[submodule "nvim-nonicons"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-nonicons
	url = https://github.com/yamatsum/nvim-nonicons
[submodule "telescope-fzy-native"]
	path = nvim/.config/nvim/pack/minpac/start/telescope-fzy-native
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim
[submodule "nvim-dap-python"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
[submodule "git-worktree.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/git-worktree.nvim
	url = https://github.com/ThePrimeagen/git-worktree.nvim
[submodule "harpoon"]
	path = nvim/.config/nvim/pack/minpac/start/harpoon
	url = https://github.com/ThePrimeagen/harpoon
[submodule "markdown-preview.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "qmk_firmware"]
	path = qmk/qmk_firmware
	url = https://github.com/mrossinek/qmk_firmware
	branch = mrossinek
[submodule "vim-tmux-navigator"]
	path = nvim/.config/nvim/pack/minpac/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim-bbye"]
	path = nvim/.config/nvim/pack/minpac/start/vim-bbye
	url = https://github.com/moll/vim-bbye
[submodule "zen-mode.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/zen-mode.nvim
	url = https://github.com/folke/zen-mode.nvim
[submodule "twilight.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/twilight.nvim
	url = https://github.com/folke/twilight.nvim
[submodule "nvim-treesitter-playground"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-treesitter-playground
	url = https://github.com/nvim-treesitter/playground
[submodule "nvim-treesitter-textobjects"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "nvim-treesitter-refactor"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-treesitter-refactor
	url = https://github.com/nvim-treesitter/nvim-treesitter-refactor
[submodule "neorg-telescope"]
	path = nvim/.config/nvim/pack/minpac/start/neorg-telescope
	url = https://github.com/nvim-neorg/neorg-telescope
[submodule "todo-comments.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim
[submodule "lir.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/lir.nvim
	url = https://github.com/tamago324/lir.nvim
[submodule "lir-git-status.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/lir-git-status.nvim
	url = https://github.com/tamago324/lir-git-status.nvim
[submodule "neogen"]
	path = nvim/.config/nvim/pack/minpac/start/neogen
	url = https://github.com/danymat/neogen
[submodule "gitsigns.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim-cmp"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim-cmp-lsp"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim-cmp-path"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "nvim-cmp-nvim-lua"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua
[submodule "nvim-cmp-emoji"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp-emoji
	url = https://github.com/hrsh7th/cmp-emoji
[submodule "lspkind-nvim"]
	path = nvim/.config/nvim/pack/minpac/start/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim
[submodule "nvim-cmp-buffer"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "neorg"]
	path = nvim/.config/nvim/pack/minpac/start/neorg
	url = https://github.com/nvim-neorg/neorg
[submodule "diffview.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
[submodule "luasnip"]
	path = nvim/.config/nvim/pack/minpac/start/luasnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "nvim-cmp-luasnip"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp-luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "impatient.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/impatient.nvim
	url = https://github.com/lewis6991/impatient.nvim
[submodule "null-ls.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
[submodule "vim-mergetool"]
	path = nvim/.config/nvim/pack/minpac/start/vim-mergetool
	url = https://github.com/samoshkin/vim-mergetool
[submodule "comment.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/comment.nvim
	url = https://github.com/numToStr/Comment.nvim
[submodule "telescope-file-browser"]
	path = nvim/.config/nvim/pack/minpac/start/telescope-file-browser
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim
[submodule "marks.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/marks.nvim
	url = https://github.com/chentoast/marks.nvim
[submodule "wezterm.nvim"]
	path = wezterm/.config/wezterm/wezterm.nvim
	url = https://github.com/aca/wezterm.nvim
[submodule "octo.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/octo.nvim
	url = https://github.com/pwntester/octo.nvim
[submodule "nvim-dap-ui"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim-cmp-dap"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-cmp-dap
	url = https://github.com/rcarriga/cmp-dap
[submodule "vim-speeddating"]
	path = nvim/.config/nvim/pack/minpac/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "telescope-ui-select"]
	path = nvim/.config/nvim/pack/minpac/start/telescope-ui-select
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim
[submodule "nvim-treesitter-context"]
	path = nvim/.config/nvim/pack/minpac/start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context.git
[submodule "magma-nvim"]
	path = nvim/.config/nvim/pack/minpac/opt/magma-nvim
	url = https://github.com/dccsillag/magma-nvim
