IMAPAccount work
Host imap.server.com
User user
PassCmd "pass imap.server.com/user"
SSLType IMAPS
CertificateFile ~/.cert/imap.server.com.pem
PipelineDepth 1

IMAPStore work-remote
Account work

MaildirStore work-local
Subfolders Verbatim
Path ~/.mail/work/
Inbox ~/.mail/work/INBOX

Channel work-main
Master :work-remote:
Slave :work-local:
Patterns INBOX INBOX/* Drafts/*
Create Slave
SyncState *

Channel work-sent
Master :work-remote:"Sent Items"/
Slave :work-local:Sent
Create Slave
SyncState *

Channel work-trash
Master :work-remote:"Deleted Items"/
Slave :work-local:Trash
Create Slave
SyncState *

Group work
Channel work-main
Channel work-sent
Channel work-trash
