[general]
accounts = acountname

[Account accountname]
localrepository  = local
remoterepository = remote

[Repository local]
type = Maildir
localfolders = ~/.mail/accountname

[Repository remote]
type             = IMAP
remotehost       = host.address
remoteport       = 993
remoteuser       = username
# alternatively one can use remotepasseval and hook it up to a script
remotepass       = password
auth_mechanism   = GSSAPI
starttls         = yes
ssl              = yes
cert_fingerprint = certfingerprint
subscribedonly   = yes

# lets mutt read the Maildir correctly
[mbnames]
enabled  = yes
filename = /path/to/output/mbnames/into
header   = "mailboxes "
peritem  = "+%(accountname)s/%(foldername)s"
sep      = " "
footer   = "\n"
