*termName: rxvt-256color

! font setup
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
URxvt.font: xft:inconsolata:size=14,xft:FontAwesome5Free:style=Regular,xft:FontAwesome5Free:style=Solid,xft:FontAwesome5Brands
dzen2.font: inconsolata:size=14

URxvt*saveLines: 10000
! remove ugly urxvt scrollbar
URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! scrollback buffer in secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! font size adjusting
URxvt.perl-ext-common: font-size

URxvt.font-size.step:  2
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! PaperColor Theme
*.foreground: #f2f2f2
*.background: #2e2e2d
! black
*.color0:  #2c2c2c
*.color8:  #969694
! red
*.color1:  #c62828
*.color9:  #f15250
! green
*.color2:  #558b2e
*.color10: #86bd47
! yellow / orange
*.color3:  #f9a825
*.color11: #f8e63a
! blue
*.color4:  #1565c1
*.color12: #77b2f6
! magenta
*.color5:  #6a1e9a
*.color13: #b933a8
! cyan
*.color6:  #00838f
*.color14: #25c3dc
! white
*.color7:  #ffffff
*.color15: #ffffff
