define theme:
  description = "dark.theme: A default, 256-color theme"
  colors:
    # General UI color.
    exclusion = "gray8 on gray4"
    today     = "rgb521"
    holiday   = "gray6"
    label     = "gray8"
    ids       = "color13"
    debug     = "blue"

  # Rotating Color Palette for tags. The leading zeroes allow the order to be
  # preserved.
  palette:
    color01 = "white on red"
    color02 = "white on blue"
    color03 = "black on green"
    color04 = "black on magenta"
    color05 = "black on cyan"
    color06 = "black on yellow"
    color07 = "black on white"
    color08 = "white on bright red"
    color09 = "white on bright blue"
    color10 = "black on bright green"
    color11 = "black on bright magenta"
    color12 = "black on bright cyan"
    color13 = "black on bright yellow"
